.prodCardWrapper{

    height:max-content;
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin:1vmax;

}

.prodPhoto{
    height:35%;
    width:45%;
}

.prodDetails{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center ;
}

.prodDetailsSub{
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 0.75vmax;
}


.prodDetailsSub>h2>a{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 1vmax;
    text-decoration: none;
    color:rgb(73, 73, 73);
}

.prodDetailsSub>h2>a:hover{
    color:#000
}

.prodDetailsSub>h3{
    font-size: 0.75vmax;
    color: green;
    font-family: 'Roboto Mono', monospace;
}

/* .MuiIcon-root{
    font-size: 2vmax !important;
} */
.red{
    color:red
}

.yellow{
    color:rgb(209, 209, 20);
}

.adminAccess{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}